.Topbar {
    align-items: center;
    background-color: #262626;
    color: #fff;
    display: flex;
    font-family: Roboto, serif;
    font-size: 20px;
    font-weight: 500;
    height: 2.5em;
    flex-shrink: 0;
    justify-content: center;
    overflow: hidden;
    text-transform: capitalize;
    width: 100%;
    position: relative;
    /*max-width: 1440px;*/
    /*margin: 0 auto;*/
}

.MuiButtonBase-root.MuiMenuItem-root.MuiMenuItem-root {
    margin-bottom: 0.2em;
    max-width: 11em;
    background-color: #40444f !important;
    display: flex!important;
    justify-content: flex-start !important;
}
.MuiSelect-select.MuiSelect-outlined.MuiInputBase-input.MuiOutlinedInput-input {
    background-color: #40444f !important;
    display: flex!important;
    justify-content: flex-start!important;
}

.MuiList-root.MuiMenu-list {
    background-color: #40444f !important;
}

