.map-container {
    width: 100%;
}
.esri-view .esri-view-surface--touch-none:focus::after {
    outline: none !important;
}

/*#mapDiv {*/
/*    will-change: transform, opacity;*/
/*}*/

:host {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}